application/templates/index.html
{% extends "layouts/layout.html" %}
{% block content %}
{% if posts %}
{% for post in posts %}
<article class="panel">
    <div class="header">
        <div class="title"><a href="{{ post.getUrl() }}"><h3> {{post.title}} </h3></a></div>
        <div class="meta"><span class="author">{{ post.user.getFullName() }}</span><span
                class="date"> {{ post.getJdate() }}</span></div>
    </div>
    <div class="body">
        <div class="img col-lg-4 col-xs-12"><img
                src="{{ post.getThumb() }}" alt="{{ post.title }}">
        </div>
        <div class="text col-lg-8 col-xs-12">
            <p>
                {{post.content[0:255]}} ...
            </p>
            <span class="read-more">
                            <a href="{{ post.getUrl() }}">بیشتر بخوانید »</a>
                        </span>
        </div>
    </div>
</article>
{% endfor %}
{% else %}
<article class="panel">
    <div class="body">
        <p>پستی پیدا نشده است!</p>
    </div>
</article>
{%endif %}
{% endblock %}

template_dev/src/pug/index.pug
extends partials/layout.pug
block project-info
    -var pageName = 'صفحه نخست'
    -var fileName = 'index'
block content
    div.container
        div.col-lg-9.col-sm-12

            -var n=5
            while n > 0
                - n = n-1
                article.panel
                    div.header
                        div.title
                            a(href="#")
                                h3  راهنمای خرید کنسول بازی؛ Xbox One ،PS4 یا Switch؟
                        div.meta
                            span.author یوسف اسفندیاری
                            span.date   ۶ آذر ۱۳۹۶-۱۶:۰۰
                    div.body
                        div.img.col-lg-4.col-xs-12
                            img(src='assets/img/XboxOneX-Featured-220x140.jpg' alt='Xbox')
                        div.text.col-lg-8.col-xs-12
                            p   در زمان خرید یک دستگاه الکترونیکی جدید خیلی‌ها به فکر خرید یک محافظ برق هم می‌افتند تا نوسان برق به دستگاه خسارت وارد نکند؛ اما به نظر می‌رسد که کنسول ایکس‌باکس وان ایکس نیازی به محافظ برق مجزا ندارد. به تازگی اکانت پشتیبانی ایکس‌ ...
                            span.read-more
                                a(href="#") بیشتر بخوانید »

        div.col-lg-3.col-sm-12.side-bar
            -var n=5
            while n > 0
                - n = n-1
                aside.panel
                    div.header
                        h5  بهترین ها
                    div.body
                        a(href="#")
                            h4  برنامه امتحانی
                        a(href="#")
                            h4  برنامه کلاسی
                        a(href="#")
                            h4  امتحان تخمی هوش مصنوعی
                        a(href="#")
                            h4  شاکری کیری کلاس حل تمیرین
