template_dev/src/pug/partials/layout.pug
block project-info
    - var version     = '0.0.1alpha'

doctype html
html
    head
        meta(charset='utf8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title مستر کارد -
            | #{pageName}

        // Page css assets
        block css
            link(rel="stylesheet" type="text/css" href ="assets/css/styles.css")
    body
        // Header Template
        include header
        // ./Header Template
        // Page Content
        main
            div.modal#mymodal
                div.modal-content
                    div.modal-header
                        span.close &times;
                        h2  ورود
                    div.modal-body
                        p لطفا برای ورود از حساب کاربری دیجی‌کالا استفاده کنید.         
                        form(action="#" method="post")
                            div.form-group
                                label(for="") نام کاربری
                                input.form-control(type="text" name="username" placeholder="نام کاربری")
                            div.form-group
                                label(for="") رمز ورود
                                input.form-control(type="password" name="password" placeholder="رمز ورود ")
                            div.remember-me
                                label
                                    input(type="checkbox")
                                    span مرا به خاطر بسپار
                            div.submit
                                input(type="submit" value="ورود")
                                a(href="#") ثبت نام در دیجی‌کالا
                                p
                                    a(href="") رمز عبورم را فراموش کرده ام



            block content
        // ./Page Content
        // Footer Template
        include footer.pug
        // ./Footer Template
        // Page js assets
        block js
            script(src='assets/js/app.js')

application/templates/layouts/layout.html
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>بلاگ | {% block title %} صفحه اصلی {% endblock %}</title><!-- Page css assets-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>
<body><!-- Header Template-->
<header>
    <div class="container">
        <ul class="top-menu">
            <li><a class="modalBtn" href="#" onclick="openModal('login')">دانشگاه تهران، وارد شوید</a><span>|</span>
            </li>
            <li><a class="modalBtn" href="#" onclick="openModal('register')"> ثبت نام کنید </a></li>
            <li class="hidden visible-xs">
                <button class="btn btn-menu" onclick="openMenu()"><i class="fa fa-bars"></i></button>
            </li>
        </ul>
    </div>
    <div class="search">
        <div class="container">
            <div class="row">
                <div class="search-input col-lg-7 col-sm-12">
                    <form><input placeholder="جستجو ...">
                        <button class="btn btn-search" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="logo col-lg-5 col-sm-12"><img src="{{ url_for('static', filename = 'img/logo.png') }}">
                </div>
            </div>
        </div>
    </div>
    <div class="menu-container">
        <nav class="container">
            {% include 'layouts/blog_header_menu.html' %}
        </nav>
    </div>
</header><!-- ./Header Template--><!-- Page Content-->
<main>
    <div class="modal" id="login">
        <div class="modal-content">
            <div class="modal-header"><span class="close">&times;</span>
                <h2> ورود</h2></div>
            <div class="modal-body"><p>لطفا برای ورود از حساب کاربری دیجی‌کالا استفاده کنید. </p>
                <form action="#" method="post">
                    <div class="form-group"><label for="">نام کاربری</label><input class="form-control" type="text"
                                                                                   name="username"
                                                                                   placeholder="نام کاربری"></div>
                    <div class="form-group"><label for="">رمز ورود</label><input class="form-control" type="password"
                                                                                 name="password"
                                                                                 placeholder="رمز ورود "></div>
                    <div class="remember-me"><label> <input type="checkbox"><span>مرا به خاطر بسپار</span></label></div>
                    <div class="submit"><input type="submit" value="ورود"><a class="modalBtn" href="#"
                                                                             onclick="openModal('register')">ثبت نام در
                        سایت</a>
                        <p><a href="">رمز عبورم را فراموش کرده ام</a></p></div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="register">
        <div class="modal-content">
            <div class="modal-header"><span class="close">&times;</span>
                <h2> ثبت نام</h2></div>
            <div class="modal-body"><p>لطفا برای ثبت نام همه ی موارد را پر کنید.</p>
                <form action="#" method="post">

                    <div class="form-group"><label for="">نام</label><input class="form-control" type="text"
                                                                            name="name"
                                                                            placeholder="نام"></div>
                    <div class="form-group"><label for="">نام خانوادگی</label><input class="form-control" type="text"
                                                                                     name="password"
                                                                                     placeholder="نام خانوادگی"></div>
                    <div class="form-group"><label for="">نام کاربری</label><input class="form-control" type="text"
                                                                                   name="username"
                                                                                   placeholder="نام کاربری"></div>
                    <div class="form-group"><label for="">رمز ورود</label><input class="form-control" type="password"
                                                                                 name="password"
                                                                                 placeholder="رمز ورود "></div>

                    <div class="submit"><input type="submit" value="ورود">
                        <a class="modalBtn" href="#" onclick="openModal('login')">ورود</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-9 col-sm-12">
            {% block content %}{% endblock %}
        </div>
        <div class="col-lg-3 col-sm-12 side-bar">
            {% include 'layouts/blog_sidebar_menu.html' %}
        </div>
    </div>
</main><!-- ./Page Content--><!-- Footer Template-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-sm-12 copy-right"> استفاده از مطالب سايت دیجی‌کالا مگ فقط برای مقاصد غیر تجاری و
                با ذکر منبع بلامانع است. کليه حقوق اين سايت به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌کالا) تعلق
                دارد.
            </div>
            <div class="col-lg-2 col-sm-12 footer-logo"><img
                    src="{{ url_for('static', filename = 'img/logo-white.png') }}"></div>
        </div>
    </div>
</footer><!-- ./Footer Template--><!-- Page js assets-->
<script src="{{ url_for('static', filename = 'js/app.js') }}"></script>
</body>
</html>
